<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h5 style="color: cornflowerblue;">
        Hello <%= name %>!!!
    </h5>
    <p style="color:darkorchid "> Here is Your One Time OTP Password </p>
    <p style="color: maroon;"> <u>
            <%= otp %>
        </u>
        <span style="color: blue;margin-left:5px ;">Valid For 15 minutes Only!</span>
    </p>

</body>

</html>